streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface

langchain-mistralai
mistralai

chromadb

pymupdf

sentence-transformers
transformers
huggingface_hub
torch

numpy
pandas
langchain-text-splitters